extends ../pug_partials/_layout.pug
//-=====================================


block head
	- var title = 'title'
	//- include layout/_seo.html
	link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css") 

//--------------------------------------

block content
	.content-m.p 
		h1 Hola
		p En computador hay varias carpetas unas tienen películas, series y cursos.
		p Los puedes revisar los cursos para tu carrera profesional, créeme vas a necesitar los en la universidad. Como no sé qué vas a estudiar, decidí enviarte un poco de todo.

		h1 Cambiar los audios a las peliculas 
		p algunas películas tienen diferentes audios y no siempre esta seleccionado en español. Para cambiarlo solo hay que presionar 
			b click derecho 
			| en cualquier parte y seleccionar la pista de audio.

		img(src="img/subtitles.png", alt="")
		h1 Debes cuidar del PC
		p Este pc es bastante viejo y no sé cuánto más pueda durar, pero aun funciona bien, simplemente no la hagas trabajar demasiado, re recalienta mucho por el lado izquierdo donde tiene el ventilador, para eso está el ventilador externo donde puedes apoyarlo.





//--------------------------------------
block foot


//--------------------------------------
block scripts